<a href="https://colab.research.google.com/github/MaheswaraPradeep/python/blob/main/Control_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=20
b=16
c=40
if a>=18:
    print("You are eligible for voting")
else:
    print("You are not eligible for voting")
if b>=18:
    print("You are eligible for voting")
else:
    print("You are not eligible for voting")
if c>=18:
    print("You are eligible for voting")
else:
    print("You are not eligible for voting")

You are eligible for voting
You are not eligible for voting
You are eligible for voting

In [ ]:
a=int(input("Enter your age:"))
b=int(input("Enter your age:"))
c=int(input("Enter your age:"))
if a>=18:
    print("You are eligible for voting")
else:
    print("You are not eligible for voting")
if b>=18:
    print("You are eligible for voting")
else:
    print("You are not eligible for voting")
if c>=18:
    print("You are eligible for voting")
else:
    print("You are not eligible for voting")

Enter your age:12
Enter your age:13
Enter your age:34
You are not eligible for voting
You are not eligible for voting
You are eligible for voting

In [ ]:
print("Even Numbers:")
for i in range(1,100):
  if (i%2==0):
    print(i)
    
print("Odd Numbers:")
for i in range(1,100):
  if (i%2!=0):
    print(i)

Even Numbers:
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
Odd Numbers:
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# While loop

In [3]:
n=int(input("Enter number of terms"))
i=1
sum=0
while i<=n:
   sum=sum+i
   i=i+1
   print(sum)

Enter number of terms10
1
3
6
10
15
21
28
36
45
55

Leap year

In [5]:
n=int(input("Enter the year:"))
if (n%4==0):
  print("leap year")
else:
  print("Not a leap year")

Enter the year:2016
leap year

Triangle is equilateral or isosceles or scalene

In [9]:
a=int(input("Enter side 1:"))
b=int(input("Enter side 2:"))
c=int(input("Enter side 3:"))
if (a==b==c):
  print("Eqilateral")
elif (a==b) or (b==c) or (c==a):
  print("isosceles") 
else:
  print("Scalene")

Enter side 1:2
Enter side 2:2
Enter side 3:3
isosceles

## Minimum among three number

In [10]:
a=int(input("Enter number:"))
b=int(input("Enter number:"))
c=int(input("Enter number:"))
if a<b and a<c:
  print("a is the minimum number")
elif b<a and b<c:
  print("b is the minimum number")
else:
  print("c is the minimum number")

Enter number:2
Enter number:3
Enter number:4
a is the minimum number

# Divisible by 5 or 11

In [11]:
a=int(input("Enter number:"))
if (a%5==0) and (a%11==0):
  print("Number is divisible by both 5 and 11")
else:
  print("Number is not divisible by both 5 and 11")

Enter number:55
Number is divisible by both 5 and 11

## factorial of a number

In [15]:
a=int(input("Enter number:"))
fact=1
for i in range(1,a+1):
  fact=fact*i
print(fact)

Enter number:5
120

## Palindrome or not

In [17]:
n=int(input("Enter number:"))
rev=0
org=n
while (n!=0):
  remainder=n%10
  rev=rev*10+remainder
  n=int(n/10)
if (org==rev):
  print("Palindrome")
else:
  print("Not palindrome")

Enter number:111
Palindrome